/* src/index.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: unset;
}
button {
  border: none;
  font: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  touch-action: manipulation;
}
input,
select {
  font: inherit;
}
body {
  padding: 1em;
}
button {
  min-width: 2em;
  border: 1px solid black;
  background-color: unset;
}
body {
  font-family: sans-serif;
  line-height: 1.6;
}
label {
  display: block;
  margin-bottom: 0.5em;
}
input[type=file] {
  border: 1px dotted black;
  padding: 2em;
  border-radius: 0.25em;
}
input[type=file]:hover {
  cursor: pointer;
}
#output table th,
#output table td {
  text-align: left;
  white-space: nowrap;
  border: 1px solid lightgray;
  padding: 0.5em 1em;
}
#output table th > div {
  display: flex;
  align-items: center;
  gap: 0.5em;
  justify-content: space-between;
}
